<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dummy"
             type="Cavity.Configuration.DummyConfigurationSection, Cavity.Configuration.Facts" />
    <sectionGroup name="facts">
      <section name="dummy.section"
               type="Cavity.Configuration.Dummy2ConfigurationSection, Cavity.Configuration.Facts" />
      <section name="dummy.handler"
               type="Cavity.Configuration.DummyConfigurationSectionHandler, Cavity.Configuration.Facts" />
    </sectionGroup>
    <section name="paths"
             type="Cavity.Configuration.PathConfigurationSection, Cavity.Configuration" />
    <section name="derived.paths"
             type="Cavity.Configuration.DerivedPathConfigurationSection, Cavity.Configuration.Facts" />
  </configSections>
  <dummy />
  <facts>
    <dummy.section />
    <dummy.handler />
  </facts>
  <paths configSource="paths.config" />
  <derived.paths />
</configuration>