<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="dummy"
                 type="WhenFresh.Utilities.Configuration.Facts.DummyConfigurationSection, WhenFresh.Utilities.Configuration.Facts"/>
        <sectionGroup name="facts">
            <section name="dummy.section"
                     type="WhenFresh.Utilities.Configuration.Facts.Dummy2ConfigurationSection, WhenFresh.Utilities.Configuration.Facts"/>
            <section name="dummy.handler"
                     type="WhenFresh.Utilities.Configuration.Facts.DummyConfigurationSectionHandler, WhenFresh.Utilities.Configuration.Facts"/>
        </sectionGroup>
        <section name="paths"
                 type="WhenFresh.Utilities.Configuration.PathConfigurationSection, WhenFresh.Utilities.Configuration"/>
        <section name="derived.paths"
                 type="WhenFresh.Utilities.Configuration.Facts.DerivedPathConfigurationSection, WhenFresh.Utilities.Configuration.Facts"/>
    </configSections>
    <dummy/>
    <facts>
        <dummy.section/>
        <dummy.handler/>
    </facts>
    <paths configSource="paths.config"/>
    <derived.paths/>
</configuration>